# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
import pandas as pd
import pymongo
from pymongo import MongoClient

cliente = pymongo.MongoClient()
cliente

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [2]:
mydb = cliente["companies"]
coleccion = mydb.detalles

In [3]:
pd.options.display.max_columns = None
df = pd.read_json("/Users/smico/OneDrive/Documentos/CURSO_DATA_ANALYST/EJERCICIOS2/labs/lab-mongo-queries/companies.json", lines=True)
df.head(2)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,video_embeds,screenshots,external_links,partners,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,{'$oid': '52cdef7c4bab8bd675297d8a'},Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,2005.0,10.0,17.0,1.0,"wiki, seattle, elowitz, media-industry, media-...",,info@wetpaint.com,206.859.6300,Technology Platform Company,{'$date': 1180075887000},2013-12-08 07:15:44+00:00,<p>Wetpaint is a technology platform company t...,"{'available_sizes': [[[150, 75], 'assets/image...","[{'name': 'Wikison Wetpaint', 'permalink': 'we...","[{'is_past': False, 'title': 'Co-Founder and V...","[{'competitor': {'name': 'Wikia', 'permalink':...",[],$39.8M,"[{'id': 888, 'round_code': 'a', 'source_url': ...",[],"{'price_amount': 30000000, 'price_currency_cod...",[],"[{'description': '', 'address1': '710 - 2nd Av...","[{'id': 5869, 'description': 'Wetpaint named i...",[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],NaN,NaN,NaN,NaN
1,{'$oid': '52cdef7c4bab8bd675297d8b'},AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,1996.0,NaN,NaN,2.0,,Zoho ManageEngine,pr@adventnet.com,925-924-9500,Server Management Software,{'$date': 1180121062000},2012-10-31 18:26:09+00:00,"<p>AdventNet is now <a href=""/company/zoho-man...","{'available_sizes': [[[150, 55], 'assets/image...",[],"[{'is_past': True, 'title': 'CEO and Co-Founde...",[],"[{'title': 'DHFH', 'is_past': True, 'provider'...",$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN

In [4]:
#coleccion.insert_many(df.to_dict("records"))

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [5]:
mydb = cliente["companies"]
coleccion = mydb.detalles
list(coleccion.find({"name" : "Babelgum"},{"name":1,"_id":0}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [6]:
# Your Code
mayor = pd.DataFrame((coleccion.find({'number_of_employees': {"$gt": 5000}})).sort("number_of_employees", 1))[:21]
mayor

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,founded_day,deadpooled_year,deadpooled_month,deadpooled_day,deadpooled_url,tag_list,alias_list,email_address,phone_number,description,created_at,updated_at,overview,image,products,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297e49,Nintendo,nintendo,http://www.crunchbase.com/company/nintendo,http://nintendo.com,,,NintendoAmerica,games_video,5080,1889.0,9.0,23.0,None,None,None,None,"games, console",,noalegal@noa.nintendo.com,1-800-255-3700,,Sat Dec 22 13:27:00 UTC 2007,Thu Sep 05 12:41:16 UTC 2013,"<p>Nintendo, a technology company widely known...","{'available_sizes': [[[150, 41], 'assets/image...","[{'name': 'Wii', 'permalink': 'wii'}]","[{'is_past': False, 'title': 'President', 'per...",[],[],$0,[],[],None,[],"[{'description': None, 'address1': None, 'addr...","[{'id': 17591, 'description': '3D For Everyone...",None,[],[],[],[]
1,52cdef7e4bab8bd67529ba2e,Hexaware Technologies,hexaware-technologies,http://www.crunchbase.com/company/hexaware-tec...,http://www.hexaware.com,http://blogs.hexaware.com,http://blogs.hexaware.com/feed,None,other,5200,1990.0,NaN,NaN,None,None,None,None,"it-services--bpo-services, peoplesoft-services...",None,corporatemarketing@hexaware.com,+91 44 4200 1600,IT & BPO service Provider,Fri May 08 17:46:58 UTC 2009,Mon May 18 20:12:25 UTC 2009,<p>Hexaware Technologies is a leading global p...,None,[],"[{'is_past': False, 'title': 'Founder & Execut...","[{'competitor': {'name': 'Capgemini', 'permali...",[],$0,[],[],None,"[{'price_amount': 34300000, 'price_currency_co...","[{'description': 'United States of America', '...",[],None,[],[],[{'external_url': 'http://www.forrester.com/Re...,[]
2,52cdef7c4bab8bd675297d8e,Facebook,facebook,http://www.crunchbase.com/company/facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299,2004.0,2.0,1.0,None,None,None,,"facebook, college, students, profiles, network...",,,,Social network,Fri May 25 21:22:15 UTC 2007,Thu Nov 21 19:40:55 UTC 2013,<p>Facebook is the world&#8217;s largest socia...,"{'available_sizes': [[[150, 61], 'assets/image...","[{'name': 'Facebook Platform', 'permalink': 'f...","[{'is_past': False, 'title': 'Founder and CEO,...","[{'competitor': {'name': 'MySpace', 'permalink...","[{'title': '', 'is_past': False, 'provider': {...",$2.43B,"[{'id': 2, 'round_code': 'angel', 'source_url'...","[{'funding_round': {'round_code': 'seed', 'sou...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarters', 'address1': '...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000, 'valuation_...",[],"[{'available_sizes': [[[150, 68], 'assets/imag...",[{'external_url': 'http://latimesblogs.latimes...,[]
3,52cdef7e4bab8bd67529a453,OpenText,opentext,http://www.crunchbase.com/company/opentext,http://www.opentext.com,http://blogs.opentext.com,http://feeds.feedburner.com/OpenTextBlogs,OpenText,software,5300,1991.0,10.0,6.0,None,None,None,None,"crm, bpm, ecm, ediscovery",artesia,support@opentext.com,800-540-7292,,Wed Nov 26 07:51:26 UTC 2008,Mon Jan 06 03:18:08 UTC 2014,<p>Open Text Corporation (Open Text) is an ind...,"{'available_sizes': [[[150, 32], 'assets/image...",[],"[{'is_past': False, 'title': 'President & CEO'...",[],[],$0,[],[],None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'Headquarter', 'address1': '2...",[],"{'valuation_amount': None, 'valuation_currency...",[],[],[],[]
4,52cdef7d4bab8bd675298b89,LSI,lsi,http://www.crunchbase.com/company/lsi,http://www.lsi.com,,,LSICorporation,hardware,5400,1980.0,NaN,NaN,None,None,None,None,"1394, pci, serdes, mpeg, video, dsp, npu, cont...",LSI Logic,,408-433-8000,storage and networking semiconductors,Thu May 22 21:19:43 UTC 2008,Thu Oct 31 04:52:49 UTC 2013,"<p>LSI Corporation is a provider of silicon, s...","{'available_sizes': [[[114, 36], 'assets/image...",[],"[{'is_past': False, 'title': 'Non - Executive ...",[],"[{'title': '', 'is_past': False, 'provider': {...",$0,[],"[{'funding_round': {'round_code': 'c', 'source...","{'price_amount': 6600000000, 'price_currency_c...","[{'price_amount': 55000000, 'price_currency_co...","[{'description': 'HQ', 'address1': '1621 Barbe...","[{'id': 13138, 'description': 'LSI to Sell Ext...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 91], 'assets/imag...","[{'external_url': 'http://jobs.lsi.com/', 'tit...",[]
5,52cdef7e4bab8bd67529b9dd,CPM Braxis,cpm-braxis,http://www.crunchbase.com/company/cpm-braxis,http://www.cpmbraxis.com,,,None,consulting,5400,1982.0,NaN,NaN,None,None,None,None,,,,+551137089199,IT Consulting and Outsourcing,Wed May 06 19:38:12 UTC 2009,Wed Aug 04 21:50:55 UTC 2010,<p>CPM Braxis is a Brazilan IT services and ou...,"{'available_sizes': [[[150, 70], 'assets/image...",[],"[{'is_past': False, 'title': 'Chief Executive ...",[],[],$100M,"[{'id': 5865, 'round_code': 'unattributed', 's...",[],None,[],"[{'description': 'CPM Braxis', 'address1': 'Av...",[],None,[],[],[],[]
6,52cdef7e4bab8bd67529b691,Microchip Technologies,microchip-technologies,http://www.crunchbase.com/company/microchip-te...,http://www.microchip.com/stellent/idcplg?IdcSe...,,,,semiconductor,5500,1989.0,NaN,NaN,None,None,None,None,,,,(480) 792-7200,Microcontrollers and Semiconductors,Thu Apr 09 18:49:11 UTC 2009,Wed Jun 05 06:34:16 UTC 2013,<p>Microchip Technology Inc. develops and manu...,"{'available_sizes': [[[150, 37], 'assets/image...",[],"[{'is_past': False, 'title': 'President, Chief...",[],[],$0,[],[],None,"[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '2355 West Ch...","[{'id': 17359, 'description': 'Microchip Techn...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 82], 'assets/imag...",[],[]
7,52cdef7e4bab8bd67529a84c,Mediaset,mediaset,http://www.crunchbase.com/company/mediaset,http://www.mediaset.it,,,,public_relations,5729,1978.0,NaN,NaN,None,None,None,None,None,,,39 02 21 02 30 25,communication and broadcasting company,Wed Dec 17 16:24:21 UTC 2008,Thu May 27 10:31:12 UTC 2010,"<p>Mediaset S.p.A., a communication and broadc...","{'available_sizes': [[[150, 29], 'assets/image...",[],[],[],"[{'title': '', 'is_past': False, 'provider': {...",$0,[],[],None,[],"[{'description': 'HQ', 'address1': 'Viale Euro...",[],None,[],"[{'available_sizes': [[[150, 116], 'assets/ima...",[],[]
8,52cdef7d4bab8bd675299f38,Mindray Medical International,mindray-medical-international,http://www.crunchbase.com/company/mindray-medi...,http://www.mindray.com,,,,biotech,5763,1991.0,NaN,NaN,None,None,None,None,None,,,86 755 2658 2888,medical devices,Thu Oct 09 23:22:43 UTC 2008,Tue Aug 27 21:38:08 UTC 2013,"<p>Mindray Medical International Limited, thro...","{'available_sizes': [[[150, 47], 'assets/image...",[],[],[],[],$0,[],[],None,"[{'price_amount': 105000000, 'price_currency_c...","[{'description': 'HQ', 'address1': 'Keji 12th ...",[],None,[],"[{'available_sizes': [[[150, 100], 'assets/ima...",[],[]
9,52cdef7c4bab8bd675298760,Baidu,baidu,http://www.crunchbase.com/company/baidu,http://www.baidu.com,,,baidu_,search,6000,1999.0,10.0,11.0,None,None,None,None,search,,ir@baidu.com,86 10 8262 1188,,Mon Apr 07 23:06:27 UTC 2008,Mon Jan 06 10:56:31 UTC 2014,<p>It is the largest Chinese website and Chine...,"{'available_sizes': [[[150, 71], 'assets/image...","[{'name': 'Baidu Space', 'permalink': 'baidu-s...","[{'is_past': False, 'title': 'Co-founder', 'pe...","[{'competitor': {'name': 'Google', 'permalink'...",[],$161M,"[{'id': 1979, 'round_code': 'c', 'source_url':...",[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': None, 'price_currency_code':...","[{'description': None, 'address1': 'No. 58 Nor...","[{'id': 3434, 'description': 'Banners Broker M...","{'valuation_amount': 4000000000, 'valuation_cu...","[{'embed_code': '<object width=""425"" height=""3...","[{'available_sizes': [[[150, 74], 'assets/imag...",[{'external_url': 'http://mashpedia.com/Baidu'...,"[{'partner_name': 'CTQuan', 'homepage_url': 'h..."
10,52cdef7d4bab8bd675298b6f,Dentsu,dentsu,http://www.crunchbase.com/company/dentsu,http://www.dentsu.com,,,DentsuAustralia,other,6000,1901.0,NaN,NaN,None,None,None,None,None,,,,,Thu May 22 12:03:30 UTC 2008,Wed Jan 01 10:24:12 UTC 2014,<p>Dentsu is a large Japanese advertising comp...,"{'available_sizes': [[[150, 150], 'assets/imag...",[],"[{'is_past': False, 'title': 'President & CEO'...",[],[],$0,[],"[{'funding_round': {'round_code': 'a', 'source...",None,"[{'price_amount': None, 'price_currency_code':...","[{'description': '', 'address1': '1-8-1, Higas...",[],None,[],[],[],[]
11,52cdef7e4bab8bd67529aeec,Tata Communications,tata-communications,http://www.crunchbase.com/company/tata-communi...,http://www.tatacommunications.com,http://tatacommunications-newworld.com/,,tata_comm,other,6000,1972.0,NaN,NaN,None,None,None,None,"taking-you-farther, cdn, content-deliver-netwo...",,janice.goveas@tatacommunications.com,91 22 6657 8765,,Wed Jan 28 17:37:13 UTC 2009,Fri Jan 03 07:24:21 UTC 2014,"<p>Tata Communications, a member of the $62.5 ...","{'available_sizes': [[[150, 21], 'assets/image...",[{'name': 'Carrier and Enterprise service prov...,"[{'is_past': False, 'title': 'Chairman & Board...",[],[],$0,[],[],None,[],"[{'description': 'Mumbai Office', 'address1': ...",[],None,[],[],[{'external_url': 'http://www.tatacommunicatio...,[]
12,52cdef7e4bab8bd67529bd33,Atmel,atmel,http://www.crunchbase.com/company/atmel,http://www.atmel.com,,http://www.atmel.com/rss/press_feed.xml,Atmel,semiconductor,6000,1984.0,NaN,NaN,None,None,None,None,"semiconductors, microcontroller, touch-control...",,,,Memory Integrated Circuits,Tue Jun 02 00:09:24 UTC 2009,Fri Apr 26 05:29:15 UTC 2013,<p>Manufactures a broad portfolio of programma...,"{'available_sizes': [[[150, 37], 'assets/image...","[{'name': '8051', 'permalink': '8051'}, {'name...","[{'is_past': False, 'title': 'Senior Vice Pres...",[],[],$0,[],[],None,[],"[{'description': 'HQ', 'address1': '1600 Techn...",[],None,[],[],[],[]
13,52cdef7d4bab8bd6752996f7,Acxiom,acxiom,http://www.crunchbase.com/company/acxiom,http://www.acxiom.com,,,acxiom,software,6200,1969.0,NaN,NaN,None,None,None,None,"marketing, data, big-data",,,1.888.3 ACXIOM,,Wed Aug 27 01:09:42 UTC 2008,Tue Jul 02 03:08:57 UTC 2013,"<p>Acxiom is an enterprise data, analytics and...","{'available_sizes': [[[150, 150], 'assets/imag...",[],"[{'is_past': False, 'title': 'President & CEO'...",[],[],$0,[],"[{'funding_round': {'round_code': 'a', 'source...",None,"[{'price_amount': 3600000, 'price_currency_cod...","[{'description': '', 'address1': '601 East Thi...",[],"{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe src=""http://blip.tv/p...",[],[],[]
14,52cdef7d4bab8bd675299a81,Acxiom,acxiom,http://www.crunchbase.com/company/acxiom,http://www.acxiom.com,,,acxiom,software,6200,1969.0,NaN,NaN,None,None,None,None,"marketing, data, big-data",,,1.888.3 ACXIOM,,Wed Aug 27 01:09:42 UTC 2008,Tue Jul 02 03:08:57 UTC 2013,"<p>Acxiom is an enterprise data, analytics and...","{'available_sizes': [[[150, 150], 'assets/imag...",[],"[{'is_past': False, 'title': 'President & CEO'...",[],[],$0,[],"[{'funding_round': {'round_code': 'a', 'source...",None,"[{'price_amount': 3600000, 'price_currency_cod...","[{'description': '', 'address1': '601 East Thi...",[],"{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe src=""http://blip.tv/p...",[],[],[]
15,52cdef7d4bab8bd675298e43,SRA International,sra-international,http://www.crunchbase.com/company/sra-internat...,http://www.sra.com,,,SRAIntl,consulting,6400,1978.0,NaN,NaN,None,None,None,None,,None,,,None,Wed Jun 18 08:00:25 UTC 2008,Thu Sep 12 09:57:19 UTC 2013,<p>SRA is dedicated to solving complex problem...,"{'available_sizes': [[[145, 80], 'assets/image...",[],"[{'is_past': False, 'title': 'CEO', 'person': ...",[],"[{'title': 'Marketing Services', 'is_past': Fa...",$0,[],[{'funding_round': {'round_code': 'unattribute...,None,"[{'price_amount': 124400000, 'price_currency_c...","[{'description': 'CORPORATE HEADQUARTERS', 'ad...","[{'id': 14607, 'description': 'SRA Internation...",None,[],[],[],[]
16,52cdef7f4bab8bd67529bd50,Moody's,moodys,http://www.crunchbase.com/company/moodys,http://www.moodys.com,,,MoodysRatings,other,6800,NaN,NaN,NaN,None,None,None,None,"moodys, moodys-corporation, moodys-analytics, ...",None,clientservices@moodys.com,212-553-1300,"Credit Ratings, Research & Analysis",Tue Jun 02 12:23:26 UTC 2009,Thu May 02 05:31:20 UTC 2013,<p>Moody’s Corporation provides credit ratings...,"{'available_sizes': [[[150, 112], 'assets/imag...",[],"[{'is_past': False, 'title': 'CEO', 'person': ...",[],[],$0,[],[],None,[],"[{'description': 'Headquarters', 'address1': '...",[],None,"[{'embed_code': 'http://youtu.be/u8K0dqhtC0o',...",[],[{'external_url': 'http://www.moodys.com/Pages...,[]
17,52cdef7f4bab8bd67529c364,ManTech,mantech,http://www.crunchbase.com/company/mantech,http://www.mantech.com,,,,security,7000,1968.0,NaN,NaN,None,None,None,None,,ManTech International Corp,,202- 863-9133,National Security Technologies,Tue Jun 30 23:06:05 UTC 2009,Sat Jun 02 02:09:59 UTC 2012,<p>ManTech International provides technology f...,"{'available_sizes': [[[150, 58], 'assets/image...",[],"[{'is_past': False, 'title': 'Chairman of the ...",[],[],$0,[],[],None,"[{'price_amount': None, 'price_currency_code':...","[{'description': 'HQ', 'address1': '1100 New J...","[{'id': 8870, 'description': 'ManTech to Acqui...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 114], 'assets/ima...",[],[]
18,52cdef7c4bab8bd675297e5d,Adobe Systems,adobe-systems,http://www.crunchbase.com/company/adobe-systems,http://www.adobe.com,http://blogs.adobe.com/,http://blogs.adobe.com/index.xml,Adobe,software,7173,1982.0,12.0,NaN,None,None,None,,"adobe, flash, illustrator, creative, photoshop...",,,408-536-6000,,Thu Aug 09 01:22:40 UTC 2007,Fri Aug 09 22:20:08 UTC 2013,<p>Adobe Systems Incorporated is a diversified...,"{'available_sizes': [[[109, 150], 'assets/imag...","[{'name': 'photoshop.com', 'permalink': 'photo...","[{'is_past': False, 'title': 'Co-founder, Co-C...","[{'competitor': {'name': 'Apple', 'permalink':...","[{'title': '', 'is_past': False, 'provider': {...",$0,[],"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 3400000000, 'price_currency_...","[{'description': '', 'address1': '', 'address2...","[{'id': 6, 'description': 'Adobe announced new...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 93], 'assets/imag...",[{'external_url': 'http://www.crunchbase.com/f...,[]
19,52cdef7e4bab8bd67529ac9c,Broadcom,broadcom,http://www.crunchbase.com/company/broadcom,http://www.broadcom.com,,,Broadcom,mobile,7400,1991.0,NaN,NaN,None,None,None,None,None,,,949-926-5000,semiconductors for wired and wireless,Fri Jan 16 06:32:29 UTC 2009,Fri Apr 13 04:24:12 UTC 2012,"<p>Broadcom Corporation engages in the design,...","{'available_sizes': [[[120, 59], 'assets/image...",[],"[{'is_past': False, 'title': 'Chairman of the ...",[],[],$0,[],"[{'funding_round': {'round_code': 'e', 'source...",None,"[{'price_amount': 35000000, 'price_currency_co...","[{'description': 'HQ', 'address1': '5300 Calif...","[{'id': 9403, 'description': 'Broadcom To Pay ...","{'valuation_amount': None, 'valuation_currency...",[],"[{'available_sizes': [[[150, 125], 'assets/ima...",[],[]
20,52cdef7e4bab8bd67529b4a4,American Power Conversion,american-power-conversion,http://www.crunchbase.com/company/american-pow...,http://www.apcc.com,,,,None,7580,1981.0,NaN,NaN,None,None,None,None,None,,,401-789-5735,,Mon Mar 23 18:37:38 UTC 2009,Tue Nov 02 19:17:40 UTC 2010,<p>American Power Conversion Corporation provi...,"{'available_sizes': [[[115, 53], 'assets/image...",[],"[{'is_past': True, 'title': 'Senior Vice Presi...",[],[],$0,[],[],None,[],"[{'description': 'HQ', 'address1': '132 Fairgr...",[],None,[],"[{'available_sizes': [[[150, 134], 'assets/ima...",[],[]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [7]:
cond1 = {"founded_year":{"$gte": 2000}}
cond2 = {"founded_year":{"$lte": 2005}}

pd.DataFrame(coleccion.find({'$and': [cond1, cond2]},{"name":1,"founded_year":1,"_id":0}).limit(10))

          name  founded_year
0     Wetpaint          2005
1         Zoho          2005
2         Digg          2004
3     Facebook          2004
4    Omnidrive          2005
5  StumbleUpon          2002
6       Gizmoz          2003
7        Helio          2005
8        Plaxo          2002
9   Technorati          2002

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [8]:
cond3 = {"ipo.valuation_amount":{"$gt": 100000000}}
cond4 = {"founded_year":{"$lt": 2010}}

pd.DataFrame(coleccion.find({'$and': [cond3, cond4]},{"name":1,"ipo":1,"_id":0}).limit(10))

             name                                                ipo
0        Facebook  {'valuation_amount': 104000000000, 'valuation_...
1         Twitter  {'valuation_amount': 18100000000, 'valuation_c...
2            Yelp  {'valuation_amount': 1300000000, 'valuation_cu...
3        LinkedIn  {'valuation_amount': 9310000000, 'valuation_cu...
4          Amazon  {'valuation_amount': 100000000000, 'valuation_...
5      Brightcove  {'valuation_amount': 290000000, 'valuation_cur...
6     KIT digital  {'valuation_amount': 235000000, 'valuation_cur...
7         Nielsen  {'valuation_amount': 1600000000, 'valuation_cu...
8       OpenTable  {'valuation_amount': 1050000000, 'valuation_cu...
9  ChannelAdvisor  {'valuation_amount': 287000000, 'valuation_cur...

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [9]:
cond5 = {"number_of_employees":{"$lt": 1000}}
cond6 = {"founded_year":{"$lt": 2005}}

pd.DataFrame(coleccion.find({'$and': [cond5, cond6]},{"name":1,"number_of_employees":1,"_id":0}).sort("number_of_employees", 1).limit(10))

                    name  number_of_employees
0                  Skype                    0
1                  Simpy                    0
2              Eurekster                    0
3           Ticketmaster                    0
4  Fox Interactive Media                    0
5             stylediary                    0
6                Monster                    0
7               EditGrid                    0
8                Compete                    0
9              MindTouch                    0

### 6. All the companies that don't include the `partners` field.

In [10]:
pd.DataFrame(coleccion.find({'partners': {'$exists': False}}))

Empty DataFrame
Columns: []
Index: []

### 7. All the companies that have a null type of value on the `category_code` field.

In [11]:
pd.DataFrame((coleccion.find({"category_code": {"$type": "null"}}, {"_id":0, "name":1})).limit(10))

            name
0     Collective
1        Snimmer
2         KoolIM
3   Level9 Media
4        VidKing
5          Drigg
6      SpaceTime
7  Touch Clarity
8         MMDAYS
9   Inside Group

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [12]:
cond7 = {"number_of_employees":{"$gte": 100}}
cond8 = {"number_of_employees":{"$lt": 1000}}

pd.DataFrame(coleccion.find({'$and': [cond7, cond8]},{"name":1,"number_of_employees":1,"_id":0}).limit(10))

          name  number_of_employees
0    AdventNet                  600
1      AddThis                  120
2        OpenX                  305
3     LifeLock                  644
4        Jajah                  110
5   Livestream                  120
6      Ustream                  250
7     iContact                  300
8         Yelp                  800
9  Dailymotion                  120

### 9. Order all the companies by their IPO price in a descending order.

In [13]:
pd.DataFrame(coleccion.find({},{"name":1,"ipo":1,"_id":0}).sort("ipo", -1).limit(10))

              name                                                ipo
0             GREE  {'valuation_amount': 108960000000, 'valuation_...
1         Facebook  {'valuation_amount': 104000000000, 'valuation_...
2           Amazon  {'valuation_amount': 100000000000, 'valuation_...
3          Twitter  {'valuation_amount': 18100000000, 'valuation_c...
4          Groupon  {'valuation_amount': 12800000000, 'valuation_c...
5          Tencent  {'valuation_amount': 11000000000, 'valuation_c...
6  Western Digital  {'valuation_amount': 9430000000, 'valuation_cu...
7         LinkedIn  {'valuation_amount': 9310000000, 'valuation_cu...
8     BMC Software  {'valuation_amount': 6000000000, 'valuation_cu...
9        Rackspace  {'valuation_amount': 5440000000, 'valuation_cu...

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [14]:
pd.DataFrame(coleccion.find({},{"name":1,"number_of_employees":1,"_id":0}).sort("number_of_employees", -1).limit(10))

                                         name  number_of_employees
0                                     Siemens               405000
1                                         IBM               388000
2                                      Toyota               320000
3                                      PayPal               300000
4  Nippon Telegraph and Telephone Corporation               227000
5                         Samsung Electronics               221726
6                                   Accenture               205000
7                   Tata Consultancy Services               200300
8                   Flextronics International               200000
9                                     Safeway               186000

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [15]:
x=list(coleccion.find({'founded_month': {"$gt": 6}},
{"name":1,"founded_month":1,"_id":0}).limit(1000))
print(x[:3])

[{'name': 'Wetpaint', 'founded_month': 10}, {'name': 'Zoho', 'founded_month': 9}, {'name': 'Digg', 'founded_month': 10}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [16]:
cond9 = {"founded_year":{"$lt": 2000}}
cond10 = {"acquisition.price_amount":{"$gt": 10000}}

pd.DataFrame(coleccion.find({'$and': [cond9, cond10]},
{"name":1,"acquisition.price_amount":1,"founded_year":1,"_id":0}).limit(10))

               name  founded_year                   acquisition
0           Postini          1999   {'price_amount': 625000000}
1          SideStep          1999   {'price_amount': 180000000}
2        Recipezaar          1999    {'price_amount': 25000000}
3           Cyworld          1999     {'price_amount': 7140000}
4            PayPal          1998  {'price_amount': 1500000000}
5          Snapfish          1999   {'price_amount': 300000000}
6           Neopets          1999   {'price_amount': 160000000}
7  Sun Microsystems          1982  {'price_amount': 7400000000}
8            Zappos          1999  {'price_amount': 1200000000}
9           Alibaba          1999  {'price_amount': 1000000000}

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [17]:
pd.DataFrame(coleccion.find({"acquisition.acquired_year": {"$gt": 2010}},
{"name":1,"acquisition":1,"_id":0}).sort("acquisition.price_amount", -1).limit(3))

                   name                                        acquisition
0              T-Mobile  {'price_amount': 39000000000, 'price_currency_...
1  Goodrich Corporation  {'price_amount': 18400000000, 'price_currency_...
2                   LSI  {'price_amount': 6600000000, 'price_currency_c...

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [18]:
pd.DataFrame(coleccion.find({},{"name":1,"founded_year":1,"_id":0}).sort("founded_year", -1).limit(10))

        name  founded_year
0      Wamba          2013
1     Gimigo          2013
2     Clowdy          2013
3      Fixya          2013
4       Fluc          2013
5   SEOGroup          2013
6       Pikk          2013
7   WhosCall          2013
8     iBazar          2013
9  Advaliant          2013

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [19]:
pd.DataFrame(coleccion.find({"acquisition.acquired_day": {"$lte": 7}},
{"name":1,"acquisition.acquired_day":1,"acquisition.price_amount":1,"_id":0}).sort("acquisition.price_amount", -1).limit(10))

                     name                                      acquisition
0  National Semiconductor  {'price_amount': 6500000000, 'acquired_day': 4}
1     The Weather Channel  {'price_amount': 3500000000, 'acquired_day': 7}
2        Interactive Data  {'price_amount': 3400000000, 'acquired_day': 4}
3              Macromedia  {'price_amount': 3400000000, 'acquired_day': 3}
4        Qualcomm Atheros  {'price_amount': 3100000000, 'acquired_day': 5}
5             ExactTarget  {'price_amount': 2500000000, 'acquired_day': 4}
6          Quest Software  {'price_amount': 2400000000, 'acquired_day': 2}
7      Legent Corporation  {'price_amount': 1740000000, 'acquired_day': 1}
8         Digital Insight  {'price_amount': 1650000000, 'acquired_day': 2}
9              Equallogic  {'price_amount': 1400000000, 'acquired_day': 5}

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [20]:
cond11 = {"category_code":{"$eq": "web"}}
cond12 = {"number_of_employees":{"$gt": 4000}}

pd.DataFrame(coleccion.find({'$and': [cond11, cond12]},
{"name":1,"category_code":1,"number_of_employees":1,"_id":0}).sort("number_of_employees", 1).limit(10))

                            name category_code  number_of_employees
0                        Expedia           web                 4400
1                            AOL           web                 8000
2                        Webkinz           web                 8657
3                        Rakuten           web                10000
4  Los Angeles Times Media Group           web                10000
5                        Groupon           web                10000
6                         Yahoo!           web                13600
7                           eBay           web                15000
8                       Experian           web                15500

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [21]:
cond13 = {"acquisition.price_amount":{"$gt": 10000000}}
cond14 = {"acquisition.price_currency_code":{"$eq": "EUR"}}

pd.DataFrame(coleccion.find({'$and': [cond13, cond14]},
{"name":1,"acquisition.price_amount":1,"acquisition.price_currency_code":1,"_id":0}).limit(10))

                  name                                        acquisition
0                  ZYB  {'price_amount': 31500000, 'price_currency_cod...
1              Apertio  {'price_amount': 140000000, 'price_currency_co...
2    Greenfield Online  {'price_amount': 40000000, 'price_currency_cod...
3              Webedia  {'price_amount': 70000000, 'price_currency_cod...
4            Wayfinder  {'price_amount': 24000000, 'price_currency_cod...
5  Tuenti Technologies  {'price_amount': 70000000, 'price_currency_cod...
6       BioMed Central  {'price_amount': 43400000, 'price_currency_cod...

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [22]:
pd.DataFrame(coleccion.find({"acquisition.acquired_month": {"$lte": 3}},
{"name":1,"acquisition":1,"_id":0}).limit(10))

          name                                        acquisition
0         Kyte  {'price_amount': None, 'price_currency_code': ...
1   NetRatings  {'price_amount': 327000000, 'price_currency_co...
2       blogTV  {'price_amount': None, 'price_currency_code': ...
3   Livestream  {'price_amount': None, 'price_currency_code': ...
4     iContact  {'price_amount': 169000000, 'price_currency_co...
5      Coghead  {'price_amount': None, 'price_currency_code': ...
6  Dailymotion  {'price_amount': 168000000, 'price_currency_co...
7     Netvibes  {'price_amount': None, 'price_currency_code': ...
8       Flickr  {'price_amount': None, 'price_currency_code': ...
9   BabyCenter  {'price_amount': None, 'price_currency_code': ...

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [23]:
cond15 = {"founded_year":{"$gt": 2000}}
cond16 = {"founded_year":{"$lt": 2010}}
cond17 = {"acquisition.acquired_year":{"$gt": 2011}}

pd.DataFrame(coleccion.find({'$and': [cond15, cond16, cond17]},
{"name":1,"founded_year":1,"acquisition.acquired_year":1,"_id":0}).limit(10))

          name  founded_year              acquisition
0     Wetpaint          2005  {'acquired_year': 2013}
1         Digg          2004  {'acquired_year': 2012}
2         Geni          2006  {'acquired_year': 2012}
3       blogTV          2006  {'acquired_year': 2013}
4    Revision3          2005  {'acquired_year': 2012}
5     iContact          2003  {'acquired_year': 2012}
6      Mashery          2006  {'acquired_year': 2013}
7  Dailymotion          2005  {'acquired_year': 2013}
8     KickApps          2004  {'acquired_year': 2012}
9     Netvibes          2005  {'acquired_year': 2012}

### 20. All the companies that have been 'deadpooled' after the third year.